@{
    ViewData["Title"] = "Ana Sayfa";
}

@section Carousel{
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://picsum.photos/id/1023/1080/300" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/id/1019/1080/300" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/id/1018/1080/300" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
}

<style>
/*    .me {
        border-radius: 26px;
        background: linear-gradient(45deg, #f0f0f0, #cacaca);
        box-shadow: 5px -5px 10px #a6a6a6, -5px 5px 10px #ffffff;
    }

    .pic{
        border-start-end-radius : 26px;
        border-start-start-radius:26px;
    }

    .card-footer:last-child {
        border-end-end-radius: 26px;
        border-end-start-radius: 26px;
    }*/
</style>

<div class="row">
    <div class="col-6 offset-3">
        <div class="input-group my-3">
            <input type="text" class="form-control" placeholder="Aradığınızı bulamadınız mı !?">
            <button class="btn btn-primary" type="button">
                <i class="fa fas-search me-2"></i>Ara
            </button>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-3 row-cols-md-5 pb-3">
    @for (int i = 0; i < 25; i++)
    {
        <div class="col mb-3">
            <div class="card me">
                <img src="https://picsum.photos/300/150?random=@i" class="card-img-top pic" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#modal_notedetail">
                            @NameData.GetCompanyName()
                        </a>
                    </h5>
                    <p class="card-text small">@TextData.GetSentences(NumberData.GetNumber(1, 3))...</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-default btn-sm" onclick="likenote();">
                                <i class="@(BooleanData.GetBoolean() ? "fas" : "far") fa-heart text-danger me-2"></i>@NumberData.GetNumber(5, 100)
                            </button>
                            <button class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#modal_notecomments">
                                <i class="far fa-comments me-2"></i>@NumberData.GetNumber(5, 100)
                            </button>
                        </div>
                        <div class="col text-end">
                            <button class="btn btn-default btn-sm" data-bs-toggle="modal" data-bs-target="#modal_notedetail">
                                Detay<i class="fas fa-info-circle ms-2"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<div class="modal fade" id="modal_notedetail" tabindex="-1" aria-hidden="true" @*data-bs-backdrop="static"*@ @*data-bs-keyboard="false"*@>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@NameData.GetCompanyName()</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @for (int i = 0; i < NumberData.GetNumber(1, 5); i++)
                {
                    <p>
                        @TextData.GetSentences(NumberData.GetNumber(1, 3))
                    </p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="fa fa-times me-2"></i>Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_notecomments" tabindex="-1" aria-hidden="true" @*data-bs-backdrop="static"*@ @*data-bs-keyboard="false"*@>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Yorumlar : @NameData.GetCompanyName()</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @for (int i = 0; i < NumberData.GetNumber(3, 10); i++)
                {
                    <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                            <img src="https://picsum.photos/id/1005/64" alt="...">
                        </div>
                        <div class="flex-grow-1 ms-3 small">
                            <h6>@NameData.GetFullName()</h6>
                            <p class="m-0">@TextData.GetSentences(NumberData.GetNumber(1, 3))</p>
                            <p class="small text-muted text-end p-0 m-0">
                                <i class="fas fa-clock me-2"></i>@DateTimeData.GetDatetime().ToString()
                            </p>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="fa fa-times me-2"></i>Kapat</button>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            @*<img src="..." class="rounded me-2" alt="...">*@
            <strong class="me-auto">Yazıyı Beğendiniz!</strong>
            @*<small>11 mins ago</small>*@
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @NameData.GetCompanyName() başlıklı yazıyı beğendiniz.
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function likenote() {
            var toastLiveExample = document.getElementById('liveToast');
            var toast = new bootstrap.Toast(toastLiveExample);
            toast.show();
        }
    </script>

    <script>
                    //var toastTrigger = document.getElementById('liveToastBtn');
                    //var toastLiveExample = document.getElementById('liveToast');

                    //if (toastTrigger) {
                    //    toastTrigger.addEventListener('click', function () {
                    //        var toast = new bootstrap.Toast(toastLiveExample);

                    //        toast.show();
                    //    })
                    //}
    </script>

    <script>
                    //var toastTrigger = $('#liveToastBtn');
                    //var toastLiveExample = $('#liveToast');

                    //if (toastTrigger) {
                    //    toastTrigger.click(function () {
                    //        var toast = new bootstrap.Toast(toastLiveExample);
                    //        toast.show();
                    //    });
                    //}
    </script>
}